API_PORT="3000"
COOKIE_SECRET="secret-thirty-2-character-string"
TOKEN_SECRET="secret"
TOKEN_EXPIRATION=60m
PSK=""
PSK_ALLOW_ORIGIN=""
DOMAINS="example.net,example.com"
LOG_FILE="/var/log/api.log"
BASIC_AUTH_USER=""
BASIC_AUTH_PASSWORD=""

SMTP_HOST="0.0.0.0"
SMTP_PORT="587"
SMTP_HOSTNAME=""

DB_HOST="db"
DB_PORT="3306"
DB_NAME="email"
DB_USER="email"
DB_PASSWORD="email"

REDIS_ADDR="redis:6379"

SMTP_CLIENT_HOST="smtp.example.net"
SMTP_CLIENT_PORT="2525"
SMTP_CLIENT_USER=""
SMTP_CLIENT_PASSWORD=""
SMTP_CLIENT_SENDER="from@example.net"

OTP_EXPIRATION=15m
