# SASL config
echo "pwcheck_method: auxprop
auxprop_plugin: sasldb
mech_list: CRAM-MD5" > /etc/postfix/sasl/smtpd.conf

echo $SMTP_PASS | saslpasswd2 -c -u "$DOMAIN" $SMTP_USER

chown postfix:postfix /etc/sasldb2
chmod 640 /etc/sasldb2

# curl-email.sh script
echo "#!/bin/sh

curl --silent --fail --data-binary @- -H  \"Authorization: Bearer $PSK\" -X POST http://email-api:3000/v1/email

rc=\$?

if [ \"\$rc\" -ne 0 ]; then
    # Tell Postfix: temporary failure → defer message
    exit 75
fi

# Success
exit 0" >> /usr/local/bin/curl-email.sh

chmod +x /usr/local/bin/curl-email.sh

# reload Postfix to apply changes
postfix reload
