{{define "body"}}
Hi,

Your {{.from}} account is in limited access mode. To regain full access add time to your IVPN account.

Sent by {{.from}}
{{end}}

{{define "bodyHtml"}}
<div style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;">
Hi,<br><br>
Your {{.from}} account is in limited access mode. To regain full access add time to your IVPN account.<br><br>
Sent by {{.from}}
</div>
{{end}}
