{{define "body"}}
Hi,

The Mailx beta period ends on May 19. An active IVPN Plus or Pro Suite subscription is required to continue using the service.

Sync your IVPN account with your Mailx account using the link below:

https://www.ivpn.net/en/account/?action=sync&service=mail

This takes you to your IVPN Account page. Under "Additional Services", click the Synchronise button in the Mailx section. The process takes about 3 minutes.

Complete this before May 19 to avoid service restrictions.

Note: Your IVPN account ID is not shared with Mailx. Details: https://www.ivpn.net/unlinked-access/

If you also signed up for the modDNS beta, you will receive a separate email with instructions. Each service must be synced separately.

Any issues? Contact us: mailx@ivpn.net

Sent by Mailx
{{end}}

{{define "bodyHtml"}}
<div style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;">
Hi,<br><br>
The Mailx beta period ends on May 19. An active IVPN Plus or Pro Suite subscription is required to continue using the service.<br><br>
Sync your IVPN account with your Mailx account using the link below:<br><br>
<a href="https://www.ivpn.net/en/account/?action=sync&service=mail">https://www.ivpn.net/en/account/?action=sync&service=mail</a><br><br>
This takes you to your IVPN Account page. Under "Additional Services", click the Synchronise button in the Mailx section. The process takes about 3 minutes.<br><br>
Complete this before May 19 to avoid service restrictions.<br><br>
Note: Your IVPN account ID is not shared with Mailx. Details: <a href="https://www.ivpn.net/unlinked-access/">https://www.ivpn.net/unlinked-access/</a><br><br>
If you also signed up for the modDNS beta, you will receive a separate email with instructions. Each service must be synced separately.<br><br>
Any issues? Contact us: <a href="mailto:mailx@ivpn.net">mailx@ivpn.net</a><br><br>
Sent by Mailx
</div>
{{end}}
