{{define "header"}}
This email was sent to {{.alias}} from {{.from}}

{{end}}

{{define "headerHtml"}}
<div style="font-size: 14px">
This email was sent to {{.alias}} from {{.from}}
</div>
<br><br>
{{end}}