{{define "body"}}
Here is the OTP token to verify your account email address:
{{.otp}}

Note:
Accounts with unconfirmed email address may be deleted after 7 days.

Regards,
{{.from}}
{{end}}

{{define "bodyHtml"}}
<div style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;">
Here is the OTP token to verify your account email address:<br>
{{.otp}}<br><br>
Note:<br>
Accounts with unconfirmed email address may be deleted after 7 days.
<br><br>
Regards,<br>
{{.from}}
</div>
{{end}}