{{define "body"}}
Here is the OTP token to verify your recipient email address:ž
{{.otp}}

Note:
Unverified recipients will not receive any forwarded emails and may be deleted after 7 days.

Regards,
{{.from}}
{{end}}

{{define "bodyHtml"}}
<div style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;">
Here is the OTP token to verify your recipient email address:<br>
{{.otp}}<br><br>
Note:<br>
Unverified recipients will not receive any forwarded emails and may be deleted after 7 days.
<br><br>
Regards,<br>
{{.from}}
</div>
{{end}}