@layer components {
    .badge {
        @apply inline-flex items-center py-1.5 px-2 rounded text-xs font-medium font-secondary bg-tertiary text-secondary;

        &.success {
            @apply bg-success text-white font-semibold;
        }

        &.progress {
            @apply bg-accent text-white font-semibold;
        }
        
        &.bounce {
            @apply bg-amber-500 dark:bg-amber-700 text-white font-semibold;
        }

        &.disabled_alias {
            @apply bg-cyan-500 dark:bg-cyan-700 text-white font-semibold;
        }

        &.unauthorised_send {
            @apply bg-violet-500 dark:bg-violet-700 text-white font-semibold;
        }

        &.inactive_subscription {
            @apply bg-gray-500 text-white font-semibold;
        }

        &.small {
            @apply py-0.5 px-1.5 text-xs;
        }
    }
}