@layer components {
    .icon {
        @apply icon-primary w-5 h-5 inline-block bg-no-repeat;

        width: 1.25em;
        height: 1.25em;
        mask-size: 1.25em;
        mask-size: 1.25em;

        &.at {
            mask-image: url("../../assets/icons/icon-at.svg");
        }

        &.chart {
            mask-image: url("../../assets/icons/icon-chart.svg");
        }

        &.logout {
            mask-image: url("../../assets/icons/icon-logout.svg");
        }

        &.mailbox {
            mask-image: url("../../assets/icons/icon-mailbox.svg");
        }

        &.settings {
            mask-image: url("../../assets/icons/icon-settings.svg");
        }

        &.user {
            mask-image: url("../../assets/icons/icon-user.svg");
        }
    }
}