IMAGE_REGISTRY=
IMAGE_TAG=latest
DAEMON_IMAGE=/mailserver/daemon

DMS_HOSTNAME=mail.example.com
DMS_IP=
DAEMON_IP=
NET_SUBNET=
NET_GATEWAY=
DOMAIN=example.com
DOMAINS=example.com,example.net
SMTP_USER=
SMTP_PASS=
SSL_TYPE=
ENABLE_RSPAMD=1
ENABLE_FAIL2BAN=1
ENABLE_CLAMAV=0
LOG_LEVEL=info
API_URL=http://email-api:3000
PSK=
